// Fade
.fade-enter-active,
.fade-leave-active {
  @apply duration-75;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
// Fade
// Right to Left

.right-left-leave-active,
.right-left-enter-active {
  transition: 0.15s;
}
.right-left-enter {
  transform: translate(100%, 0);
}
.right-left-leave-to {
  transform: translate(200%, 0);
}
// Right to Left
